<md-content>
    <div layout="column" class="md-whiteframe-z2 fade" layout-margin layout-padding>
    <form ng-submit="search.search()">
        <md-input-container>
            <label>Search For</label>
            <input ng-model="search.searchData.parameter" type="text">
        </md-input-container>
        <md-input-container>
            <md-button type="submit" class="md-raised md-primary">Go</md-button>
        </md-input-container>
    </form>
    <div ng-if="search.processing" class="fade" layout="row" layout-align="center center">
        <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
    </div>
    </div>
    <mph-search-item ng-repeat="post in search.items"></mph-search-item>
</md-content>
