.item {
  border-bottom: 1px solid grey;
  .score-text {
    font-size: 30px;
    color: grey;
  }
  .title-text {
    vertical-align: middle;
    font-size: 18px;
  }
  i {
    font-size: 50px;
  }
}