h1.points {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.item {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
}

.pagination {
  position: relative;
  .right {
    position: absolute;
    right: 0px;
  }
  .left {
    position: absolute;
    left: 0px;
  }
}

