/************
 * SITE MENU
 ************/
.site-navbar {
  background-color: #106CC8 !important;
}

.nav-header {
  background-color: $clr-blue-900;
  background: linear-gradient(#185694, #106cc8);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #185694), color-stop(1, #106cc8));
  background: -webkit-linear-gradient(top, #185694 0%, #106cc8 100%);
  background: -moz-linear-gradient(top, #185694 0%, #106cc8 100%);
  background: linear-gradient(top, #185694 0%, #106cc8 100%);
  border-bottom: 1px solid #267ED5;
  flex-shrink: 0;
  z-index: 2;
  p {
    display: block;
    font-size: 18px;
    line-height: 20px;
    margin: auto auto;
  }
}

.site-sidenav {
  background: #106CC8;
}

.site-sidenav md-content {
  background: transparent;
}

.site-sidenav,
.site-sidenav.md-locked-open-add-active,
.site-sidenav.md-locked-open {
  width: 256px;
  min-width: 256px;
  max-width: 256px;
}

.site-sidenav > * {
  min-width: 218px;
}

.site-logotype {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 26px;
}

.site-menu li {
  margin: 0;
  .active {
    background-color: $clr-blue-400;
    background-color: rgba(158, 158, 158, 0.2);
  }
}

.site-menu .nav-item {
  border-radius: 0;
  color: white;
  cursor: pointer;
  display: block;
  align-items: inherit;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  &:hover {
    background-color: #106cc8;
  }
  text-decoration: none;
  white-space: normal;
  width: 100%;
}
