<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')">
    <md-toolbar class="nav-header">
        <h1>FeedFetcher</h1>
    </md-toolbar>
    <md-list>
        <md-list-item>
            <md-button class="md-primary nav-item">
                    All
                </md-button>
        </md-list-item>
        <md-list-item ng-if="!main.loggedIn" class="fade">
            <md-button class="md-primary nav-item">
                    Login
                </md-button>
        </md-list-item>
        <md-list-item ng-if="main.loggedIn" class="fade">
            <md-button class="md-primary nav-item">
                    Search
                </md-button>
        </md-list-item>
        <md-list-item ng-if="main.loggedIn" class="fade">
            <md-button class="md-primary nav-item">
                    Saved
                </md-button>
        </md-list-item>
        <md-list-item ng-if="main.loggedIn" class="fade">
            <md-button class="md-primary nav-item">
                    Feeds
                </md-button>
        </md-list-item>
        <md-list-item class="fade" ng-if="main.loggedIn">
            <md-button ng-click="main.doLogout()" class="md-primary nav-item">
                Logout
            </md-button>
        </md-list-item>
    </md-list>
</md-sidenav>
