<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')">
    <md-toolbar class="md-whiteframe-z1">
        <h1>FeedFetcher</h1>
    </md-toolbar>
    <md-list>
        <a href="/">
            <md-list-item>
                <md-button class="nav-item">
                    All
                </md-button>
            </md-list-item>
        </a>
        <a ng-if="!main.loggedIn" href="/login">
            <md-list-item>
                <md-button class="nav-item">
                    Login
                </md-button>
            </md-list-item>
        </a>
        <a ng-if="main.loggedIn" href="/search">
            <md-list-item>
                <md-button class="nav-item">
                    Search
                </md-button>
            </md-list-item>
        </a>
        <a ng-if="main.loggedIn" href="/saved">
            <md-list-item>
                <md-button class="nav-item">
                    Saved
                </md-button>
            </md-list-item>
        </a>
        <a ng-if="main.loggedIn" href="/feeds">
            <md-list-item>
                <md-button class="nav-item">
                    Feeds
                </md-button>
            </md-list-item>
        </a>
        <md-list-item ng-if="main.loggedIn">
            <md-button class="nav-item" ng-click="main.doLogout()">
                Logout
            </md-button>
        </md-list-item>
    </md-list>
</md-sidenav>
