<md-list>
    <md-list-item class="item md-2-line md-whiteframe-z2" layout-margin layout-padding ng-repeat="url in feed.feeds">
        <div class="md-list-item-text">
            <h3>{{ url.url }}</h3>

            <p>{{ url._id }}</p>
        </div>
        <md-menu>
            <md-button aria-label="Open Feed Interactions Menu" class="md-icon-button" ng-click="$mdOpenMenu(event)">
                <md-icon md-menu-origin md-svg-icon="edit"></md-icon>
            </md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <md-button ng-href="/feeds/{{ url._id }}">Edit</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button class="md-warn" ng-click="feed.deleteFeed(url._id)">Delete</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-list-item>
</md-list>

