<div layout="row" layout-sm="column" layout-margin class="item md-whiteframe-z3">
    <div flex>
        <h1 class="points">{{post.score}}</h1>
    </div>
    <div layout="column">
        <div flex>
        <div class="title"><a ng-href="{{post.url}}" target="_blank">{{post.title}}</a></div>
    </div>
    <div>
        <div class="save">
            <md-icon ng-if="main.loggedIn" md-svg-icon="favorite" ng-class="{'md-primary' : post.saved}"
                     ng-click="item.toggleSaved(post)"></md-icon>
        </div>
    </div>
    </div>
</div>