<!-- loading message -->
<div ng-if="item.processing" class="fade" layout="row" layout-align="center center">
    <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
</div>
<md-list>
    <md-list-item class="md-2-line" dir-paginate="post in item.items | itemsPerPage: 20"
                  total-items="item.totalItems" current-page="item.currentPage" ng-href="post.url">
        <div class="md-list-item-text" id="{{post._id}}">
            <h3 ng-if="post.source === 'Reddit'">Reddit</h3>

            <h3 ng-if="post.source === 'HackerNews'">Hacker News</h3>

            <p>{{post.title}}</p>
        </div>
        <md-icon ng-if="main.loggedIn && item.type == 'all'" md-svg-icon="favorite"
                 ng-class="{'md-primary' : post.saved}"
                 ng-click="item.toggleSaved(post)"></md-icon>
        <md-icon ng-if="main.loggedIn && item.type == 'saved'" md-svg-icon="favorite"
                 ng-class="{'md-primary' : post.saved}"
                 ng-click="item.toggleSaved(post)"></md-icon>
    </md-list-item>
</md-list>
<dir-pagination-controls on-page-change="item.pageChanged(newPageNumber)"></dir-pagination-controls>
