
<!-- loading message -->
<div ng-if="item.processing" class="fade" layout="row" layout-align="center center">
    <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
</div>
<div ng-if="!item.processing" class="fade">
    <mph-item ng-repeat="post in item.items"></mph-item>
    </div>
<div layout="row" class="pagination fade" ng-if="!item.processing">
    <div flex="50" layout-align="start center">
        <md-button class="md-fab left" aria-label="Go Back a Page" ng-disabled="item.onFirstPage()"
                   ng-click="item.pageBackward()">
            <md-icon md-svg-icon="arrow_back"></md-icon>
        </md-button>
    </div>

    <div flex="50">
        <md-button class="md-fab right" aria-label="Go Forward a Page" ng-disabled="item.onLastPage()"
                   ng-click="item.pageForward()">
            <md-icon md-svg-icon="arrow_forward"></md-icon>
        </md-button>
    </div>
</div>
